extends layout

block content
  section(id="main-content")
    div(class="container")
      h1 #{title}
        small This will be the blog page, yo
      p Welcome to the #{title} page of the Node/Express Project
  
      
  section(id="blog-form")
    div(class="container")
      h2 Blog Form
      form(id="form", method="#", action="#")
      div(class="form-group")
        input(class="form-control", placeholder="Blog Title")
      div(class="form-group")
       textarea(class="form-control", placeholder="Blog Content")
      div(class="form-group")
        button(class="btn btn-default") Post this Blog
