extends layout

block content
  section(id="main-content")
    div(class="container")
      h1 #{title} - Express
        small This area is for backend only 
        
      p Redirect to front end / remove routes/views
