extends layout

block content
  section(id="main-content")
    div(class="container")
      h1 #{title}
        small Subtitle to the Title
      p Welcome to the #{title} page of the Node/Express Project
