// Colors
$clr-prime: #fff
$clr-alt: #fff
$clr-accent: #61DAFB

// Media Query Breakpoints (Bootstrap)
$mq-xs: 767px
$mq-sm: 768px
$mq-md: 992px
$mq-lg: 1200px

// General / Overall
.app
  text-align: center

h1, h2, h3, h4, h5
  small
    display: block
    margin-top: 8px
    color: $clr-accent

// Header / Logo
.app-logo
  height: 80px

.app-header
  background-color: #222
  padding: 20px
  color: #fff

// Content
.content-section
  padding: 60px 0

.app-intro
  font-size: large

@media screen and (max-width: $mq-xs)
  .table-responsive
    overflow-x: scroll
